<html>

<head>
  <title>Twitter Data</title>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous">
  </script>
</head>

<body>


  <div id="content-table">
    <script src = "/assets/myfacebook.js" ></script>


<fb:login-button
scope="public_profile,email"
onlogin="checkLoginState();">
</fb:login-button>

    <form method="POST" action='/checkChannel' name="myForm" id="signupForm">
      <input type="text" name="search" placeholder="Enter Your Search..." required="true" />
      <input type="radio" name="socialmedia" value="Twitter" checked> Twitter
       <input type="radio" name="socialmedia" value="Youtube"> Youtube
      <button type="submit"><i class="fa fa-search" style="font-size:24px; margin-right: 12px;" aria-hidden="true"></i></button>
    </form>

    <% for (var i=0;i<abc.length;i++){%>
      <div class="card card-1">
        <img src="<%= abc[i].profile_image_url%>" alt="profile_pic" style="width:80px; border-radius: 50%;">
        <h3 class="title" style="margin-bottom: 2px;"><%= abc[i].name%></h3>
        <h6 style="margin-top: 2px;">@<%= abc[i].screen_name%></h6>
        <p style="margin: 15px;"><%= abc[i].text%></p>
        <div style="margin-top: 24px; background: blue; padding: 10px; ">
          <a href="#"><i class="fa fa-retweet"> <%= abc[i].retweet_count%></i></a>
          <a href="#"><i class="fa fa-heart-o"> <%= abc[i].favorite_count%></i></a>
        </div>
        <h6 style="margin: 10px;"><i><b>Created At: </b><%= abc[i].created_at%></i></h6>
      </div>
      <% } %>
  </div>
</body>

</html>
